[% USE url %]

<div id="resources-chart">

<table>
 <tr>
  <th>Resource Name</th>
  <th>Information</th>
  <th>Linking</th>       
 </tr>
 <tr>
  <td>Academic Search Elite</td>
  <td> </td>
  <td><a href="http://www.ebscohost.com/">connect</a></td>
 </tr>
 <tr>
  <td>JSTOR</td>
  <td> </td>
  <td><a href="http://www.jstor.com/">connect</a></td>
 </tr> 
 
</div>

