[% USE url %]

[% INCLUDE page_title.tt %]

<div id="journal-title">[% journal.title | html %]</div>
<div id="details">
[%- PROCESS journal_issns.tt -%]
[%- PROCESS journal_titles.tt -%]
[%- PROCESS journal_subjects.tt -%]
[%- PROCESS journal_associations.tt -%]
[%- PROCESS journal_relations.tt -%]
</div> <!-- details -->
[%- PROCESS journal_availability.tt -%]
[%- PROCESS journal_mytags.tt -%]
[%- PROCESS journal_tags.tt -%]