[% IF journal.issns %]
 <div class="journal-label">ISSNs:</div>
 <div class="journal-data">
 [% FOREACH issn IN journal.issns %]
  [% issn.issn.substr(0,4) %]-[% issn.issn.substr(4,4) %][% ',' UNLESS loop.last %]
 [% END %]
 </div>
[% END %]