[% USE url %]

<div id="resources-current-facets" class="resources-current-facets-row">
 [% IF facets.values.size %]
  [% facets.values.map_join( 'display', ' AND ' ) %]<br />
 [% ELSE %]
  No facets selected.
 [% END %]
</div>